@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

//Color Variables
$color1: white; //white
$color2: #53354A; //Plum
$color3: #903749; //Maroon

// Base Styles
nav {
	background-color: $baseColor;
	position: fixed;
	z-index: 6;
	width: 100%;
	height: $headerHeight;
	ul {
		background-color: $baseColor * 1.2;
		display: block;
		height: 0;
		list-style-type: none;
		text-align: center;
		width: 100%;
		visibility: hidden;
		margin-top: 2em;
    }
    
    li {
		border-bottom: 2px solid $color2;
		color: $color2;
		display: block;
		font-size: 1.5em;

		&:hover {
			background-color: $baseColor * 0.8;
		}
    }
    li:first-child {
    	border-top: 2px solid $color2;
    }
    a {
		margin: 0;
		display: block;
		text-align: center;
		text-decoration: none;
		padding: 0.5em 0;
		color: $color1;
    }
    .logo {
    	img {
    		width: 2.5em;
	    	height: 2.5em;
	    	margin: 1em;
		}
    }
    .header_img {
	    width: auto;
		height: 35px;
	    margin: 0;
	    border-radius: 75px;
	}
}
    .home-button {
		width: 45px;
		height: 45px;
		margin: 0;
		border: none;
		padding: 0;
	}
  
    #menu-toggle:checked ~ ul {
		height: auto;
		width: 100%;
		padding: 0;
		visibility: visible;
    }
	#menu-toggle {visibility: hidden; display: none;}
    
    .label-toggle {
		background: linear-gradient(to bottom, $color1 0%, $color1 20%, transparent 20%, transparent 40%, $color1 40%, $color1 60%, transparent 60%, transparent 80%, $color1 80%, $color1 100%); //Gradient Hamburger
		cursor: pointer;
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		margin-top: 1em;
		margin-right: 1em;
    }
    
    .wrapper {
    	display: block;
    }
  
@media screen and (min-width: 53.750em) {
	.wrapper {
		background-color: $baseColor;
		min-width: 100%;
		height: 5em;
		display: flex;
	}

	.logo {
		display: inline-block;

		img {
			border-radius: 50px;
			border: solid 1px $baseColor * 0.8;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.header_img {
		height: 100%;
	}

	// Content Wrapper
	// .wrapper {
	// 	margin: 0 auto;
	// 	max-width: 100%;
	// 	padding: 0;
	// }

	// Full Navigation, including mobile menu
	nav {
	  	ul {
			display: flex;
			justify-content: flex-end;
			list-style-type: none;
			width: 75%;
			height: 100%;
			padding: 0;
			margin: 0;
			visibility: visible;
			background-color: transparent;
	    }
	    a {
			color: $color1;
			text-decoration: none;
			transition: all .5s ease;
			margin: 0;
			border-style: none; //needs to be fixed
			width: 100%;
			height: 100%;
			padding: $headerHeight / 5;
	    }
	  	li  {
			display: inline-block;
			margin: 0;
			height: 100%;
			border: none;
	  	}
	  	li:first-child {
	  		border: none;
	  	}
	  	.logo {
	  		width: 25%;
	  	}
	  
	  	#menu-toggle {visibility: hidden; display: none;}
	  
		.wrapper {
			align-items: center;
			display: flex;
			margin: 0;
			justify-content: space-between;
		}
	  }
	.label-toggle {
		display: none;
		visibility: hidden;
		margin: 0 2%;
	}
}